html{background: rgb(39,40,34);}
		h1{margin: 0;}
		.container{width: 400px;margin: 0 auto;background-color: #eee;border:1px solid #000;text-align:center;}
		#board{height: 500px;position: relative;}
		.exit{width: 50%;height:30px;line-height:30px;color:red;margin:0 auto;background-color: #dd0;}
		.piece{
			position: absolute;
			text-align:center;
		}
		.piece[rowspan="1"]{height: 20%;}
		.piece[rowspan="2"]{height: 40%;}
		.piece[colspan="1"]{width: 25%;}
		.piece[colspan="2"]{width: 50%;}
		.piece[x="0"]{left:0;animation: all 5s;}
		.piece[x="1"]{left:25%;animation: all 5s;}
		.piece[x="2"]{left:50%;animation: all 5s;}
		.piece[x="3"]{left:75%;animation: all 5s;}
		.piece[y="0"]{top:0;}
		.piece[y="1"]{top:20%;}
		.piece[y="2"]{top:40%;}
		.piece[y="3"]{top:60%;}
		.piece[y="4"]{top:80%;}
		button{padding: 10px 30px;}