<!DOCTYPE html>
<html>
<head>
	<title>华容道</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/hrd1.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<div class="container" id="hrd">
		<div class="hrd-header">
			<div class="left">
				<h1>华容道<a href="https://github.com/AmosLee94/hrd">源码</a></h1>
			</div>
			<div class="right">
				<div class="particulars">
					<p>来源：华容道游戏，取自著名的三国故事，曹操在赤壁大战中被刘备和孙权的“苦肉计”、“火烧连营”打败，被迫退逃到华容道，又遇上诸葛亮的伏兵，关羽为了报答曹操对他的恩情，明逼实让，终于帮助曹操逃出了华容道。“曹瞒兵败走华容，正与关公狭路逢。只为当初恩义重，放开金锁走蛟龙”。</p>
					<p>玩法：通过移动各个棋子，帮助曹操从初始位置移到棋盘最下方中部，从出口逃走。不允许跨越棋子，还要设法用最少的步数把曹操移到出口。曹操逃出华容道的最大障碍是关羽，关羽立马华容道，一夫当关，万夫莫开。关羽与曹操当然是解开这一游戏的关键。四个刘备军兵是最灵活的，也最容易对付，如何发挥他们的作用也要充分考虑周全。</p>
				</div>
			</div>
		</div>
		<div id="board">
			<img class="piece" v-for="(piece,index) in 10" v-bind:x="map[index][0]" v-bind:y="map[index][1]" v-bind:colspan="game.layout.piecesSize[index][0]" v-bind:rowspan="game.layout.piecesSize[index][1]" v-bind:id="index" v-bind:src="pieceSrc(index)" v-bind:draggable="piece.draggable" v-on:click="selectPiece(index)" draggable="false"></img>

			<div class="piece" v-for="(piece,index) in 2" v-bind:x="game.layout.piecesCoords[index+10][0]" v-bind:y="game.layout.piecesCoords[index+10][1]" v-bind:colspan="game.layout.piecesSize[index+10][0]" v-bind:rowspan="game.layout.piecesSize[index+10][1]" v-bind:id="index+10"  v-bind:draggable="piece.draggable" v-on:click="moveTo(index+10)"></div>
		</div>
		<div class="exit">出口</div>

		<button v-on:click="reset" class="primary">重置</button>
		<button v-on:click="changePlan">换图</button>
	</div>
</body>
<script type="text/javascript" src="js/hrd.js"></script>
<script type="text/javascript">
	var game = new Game();
	var map = game.layout.piecesCoords.slice(0);
	// console.log(map);
	new Vue({
		el:'#hrd',
		data:{
			game:game,
			map:map,
			selectedPiece:-1
		},
		methods:{
			pieceSrc:function(index){
				return "img/" + this.game.layout.piecesName[index] + ".jpg";
			},
			selectPiece:function(index){
				this.selectedPiece = index;
				this.game.autoMove(index);
				this.map = this.game.layout.piecesCoords.slice(0);
			},
			moveTo:function(index){
				if(this.selectedPiece >= 0){
					this.game.moveTo(this.selectedPiece,index);
					this.map = this.game.layout.piecesCoords.slice(0);
				}
			},
			reset(planId){
				this.game.reset(planId);
				this.map = this.game.layout.piecesCoords.slice(0);
			},
			changePlan(){
				this.game.changePlan();
				this.game.reset();
				this.map = this.game.layout.piecesCoords.slice(0);
			}
		}
	});
	// 移动端缩放
(function(){
	var oMeta = document.createElement('meta');
	oMeta.name="viewport"
	oMeta.content = 'width=device-width,initial-scale='+document.documentElement.clientWidth/400+',maximum-scale='+document.documentElement.clientWidth/400+', user-scalable=no';
	document.getElementsByTagName('head')[0].appendChild(oMeta);
})();
</script>
</html>